.missions {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.9);
  margin: auto;
  text-align: center;
  width: 90%;
}

.missions h2 {
  padding-top: 42px;
}

.missions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
