.mission-card {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: 192px;
  justify-content: space-around;
  margin: 20px;
  min-width: 400px;
}

.divisoria {
  justify-self: center;
}

.mission-name {
  align-items: center;
  display: flex;
  font-size: 28px;
  margin-left: 27px;
  text-transform: uppercase;
}

.mission-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.mission-year-country {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-right: 13px;
}

.local-pin {
  margin-left: 35px;
}

.destination-div {
  display: flex;
}

.mission-destination {
  justify-self: flex-start;
}
